:root {
  --orange: #f09732;
  --blue: #173187;
  --green: #49890e;
  --white: #ffffff;
}

.india-linear {
  background: linear-gradient(
    to bottom,
    var(--orange),
    var(--white),
    var(--green)
  );
}

.india-stripe {
  background: linear-gradient(
    to bottom,
    var(--orange) 0px 10px,
    var(--white) 10px 13px,
    var(--blue) 13px 16px,
    var(--white) 16px 20px,
    var(--green) 20px 30px,
    var(--white) 30px 40px
  );
  background-size: 40px 40px;
}

.india-spiral {
  background: repeating-radial-gradient(
    circle,
    var(--orange) 0px 10px,
    var(--white) 10px 13px,
    var(--blue) 13px 16px,
    var(--white) 16px 20px,
    var(--green) 20px 30px,
    var(--white) 30px 40px
  );
}

.india-block {
  background: linear-gradient(
      to right,
      transparent 0px 20px,
      var(--white) 20px 40px,
      transparent 40px 60px,
      var(--white) 60px 80px
    ),
    linear-gradient(
      to bottom,
      var(--orange) 0px 20px,
      var(--white) 20px 40px,
      var(--green) 40px 60px,
      var(--white) 60px 80px
    );
  background-size: 80px 80px;
}
