@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

:root {
  --spacing: 8px;
  --black: #111111;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 16px;
  color: var(--black);
}

code {
  color: var(--blue);
  font-weight: bold;
}

section {
  height: 100vh;
}

a {
  color: var(--black);
}

a:hover {
  color: var(--black);
  text-decoration: none;
}

.card {
  cursor: pointer;
  padding: calc(var(--spacing) * 2);
  background-color: var(--white);
  box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.rounded {
  border-radius: var(--spacing);
}

/* Loader */

#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
}

#loader:before {
  content: "";
  position: fixed;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  border: 6px solid var(--white);
  border-top-color: var(--blue);
  border-bottom-color: var(--blue);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-animation: animate-loader 0.5s linear infinite;
  animation: animate-loader 0.5s linear infinite;
}

@-webkit-keyframes animate-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Header */
header .navigator {
  position: fixed;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px;
  transition: 0.5s;
}

.navigator-scrolled {
  background-color: var(--white);
  box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.3);
}

header nav {
  display: block;
  width: 100%;
}

header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  justify-content: flex-end;
}

header nav li {
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  padding: 12px;
  display: list-item;
}

header nav li a {
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
  font-size: 1.025rem;
}

.navigator a:hover,
.navigator .active > a,
.navigator li:hover > a {
  color: var(--white);
}

.navigator-scrolled a:hover,
.navigator-scrolled .active > a,
.navigator-scrolled li:hover > a {
  color: var(--orange);
}

/*  Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
  background: var(--orange);
  color: var(--white);
}

.back-to-top i:hover {
  border: 1px solid var(--blue);
  background: var(--white);
  color: var(--blue);
  cursor: pointer;
}

/* Introduction */

#introduction .wrapper {
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

#introduction .wrapper .card {
  width: 50%;
  max-width: 500px;
}

#introduction .wrapper .title {
  font-size: 1.5rem;
}

#introduction .wrapper .subtitle {
  letter-spacing: 0.0475rem;
  word-spacing: 0.1rem;
  margin-top: 16px;
  margin-bottom: 24px;
}

#introduction .wrapper .download-button {
  display: block;
  color: var(--blue);
  padding: var(--spacing);
  text-decoration: none;
  width: fit-content;
  border: 1px solid var(--blue);
  transition: all 0.2s ease-in-out;
}

#introduction .wrapper .download-button:hover {
  color: var(--white);
  background-color: var(--blue);
}

@media only screen and (max-width: 600px) {
  #introduction .wrapper .card {
    width: 90%;
  }
}

/* Patterns */

#patterns .wrapper {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--spacing) * 2);
}

#patterns .wrapper .card {
  width: 50%;
  max-width: 400px;
  margin-top: calc(var(--spacing) * 2);
}

#patterns .wrapper .card .pattern-container {
  height: 200px;
  margin-top: calc(var(--spacing) * 2);
}
